{% extends "base.html" %}
{% load static %}

{% block title %}Naboj {{ competition.year }}{% endblock %}

{% block extra_css %}
<link href="{% static 'bundle.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block outer_container %}
<script type="application/json" id="problems-data">{{ problems_json|safe }}</script>

{# SSE controller: streams real-time updates for problem list + teammate activity #}
<div data-controller="sse"
     data-sse-url-value="{% url 'sse-stream' competition.year %}"
     class="hidden"></div>

<div class="grid grid-cols-12 divide-x divide-base-300 h-[calc(100vh-4rem)] overflow-hidden">

  {# ---- Column 1: Problem list (2 cols) ---- #}
  <div class="col-span-2 overflow-y-auto"
       data-controller="problem-list"
       id="problem-list-container">
    {% include "competition/partials/_problem_list.html" %}
  </div>

  {# ---- Column 2: Problem statement (3 cols) ---- #}
  <div class="col-span-3 overflow-y-auto">
    {% include "competition/partials/_problem_statement.html" %}
  </div>

  {# ---- Column 3: Editor (7 cols) ---- #}
  <div class="col-span-7 overflow-hidden flex flex-col">
    {% include "competition/partials/_editor_panel.html" %}
  </div>

</div>
{% endblock outer_container %}
